{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}

<body class="text-bg-dark">


 <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"></h3>
      <nav id="project_page_nav" class="nav nav-masthead justify-content-center float-md-end">
        <a id="home_nav_my_projects" class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        <a id="contact_nav_my_projects" class="nav-link fw-bold py-1 px-0 active" href="{{ url_for('contact') }}">Contact</a>
      </nav>
    </div>
  </header>


  <div class="container position-relative py-4 py-lg-5 px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1 id="my-project-heading">My projects</h1>

          <span id="subheading_for_projects_page" class="subheading-for-projects">These are some of my projects.</span>
        </div>
      </div>
    </div>
  </div>


<main class="mb-4">
  <div class="container py-5 py-lg-5 px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-left">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="project-heading">
          <a href="https://github.com/Harsh-shegedar/Get-10-Color-Codes-of-any-image" id="get_10_colors" style="text-decoration: none;">➤ Get 10 Color Codes of any Image</a>
          <br>
          <a href="https://github.com/Harsh-shegedar/Text-to-Speech" id="text_to_speech_heading" style="text-decoration: none;">➤ Text-to-Speech</a>
          <br>
          <a href="https://github.com/Harsh-shegedar/Typing-Speed-check" id="typing_speed" style="text-decoration: none;">➤ Typing Speed Check</a>
          <br>
          <a href="https://github.com/Harsh-shegedar/Snake-Game" id="snake_game" style="text-decoration: none;">➤ Snake Game</a>
          <br>
          <a href="https://github.com/Harsh-shegedar/Breakout-Game" id="breakout_game" style="text-decoration: none;">➤ BreakOut Game</a>
          <br>
          <a href="https://github.com/Harsh-shegedar/Disappearing-Text" id="disappearing_text" style="text-decoration: none;">➤ Disappearing Text</a>



        </div>
      </div>
    </div>
  </div>
</main>


</body>


{% include "footer.html" %}




{% endblock %}